version: "3.9"

services:
  db:
    image: postgres:17
    container_name: online_cinema_db
    restart: always
    environment:
      POSTGRES_DB: online_cinema
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: online_cinema_redis
    restart: always
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: online_cinema_web
    restart: always
    command: >
      sh -c "
      alembic upgrade head &&
      uvicorn main:app --host 0.0.0.0 --port 8000
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  celery:
    build: .
    container_name: online_cinema_celery
    command: celery -A celery_app.celery_app worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis

  celery-beat:
    build: .
    container_name: online_cinema_celery_beat
    command: celery -A celery_app.celery_app beat --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis

volumes:
  postgres_data: